:root{
    --red-600: #EB2E6A;
    --red-100: #FDECF2;
    --blue-500: #314D9B;
    --green-600-success: #38C98D;
    --green-100-success: #DFF6ED;
    --yello-600: #EBB22C;
    --yellow-100: #FAEBC7;
    --grey-details: #AEAEAE;
    --grey-page-bg: #F2F2F2;
    --white: #FEFEFE;
    --dark-header: #202020;
    --dark-text: #353535;
    --hover: rgb(208,217,240, 0.5);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 14px;
    font-family: sans-serif;
    overflow: hidden;
    color: var(--dark-text);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: var(--dark-header);
    font-family: 'Archivo Narrow', sans-serif;
}
   
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    background: rgb(251,250,250);
    background: linear-gradient(0deg, rgba(251,250,250,1) 0%, rgba(243,243,243,1) 100%);
}

.row-content, .row-component-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.row-content-title{
    margin-top: 32px;
}

.page{
    max-width: 1000px;
    margin: 0px auto;
}

.page-title {
    margin-bottom: 8px;
}
   
.page-desc {
    margin-bottom: 64px;
}

.header-top{
    background: rgb(251,250,250);
    background: linear-gradient(0deg, rgba(251,250,250,1) 0%, rgba(243,243,243,1) 100%);
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}

.nav { 
    height: 100%;
    display: flex;
    align-items: center;
}

.nav > ul{
    list-style-type: none;
}

.nav > ul > li {
    display: inline-block;
    margin: 0 5px;
}

.nav > ul > li > a {
    text-decoration: none;
    color: var(--dark-text);
}

.nav > ul > li > a:hover {
    color: var(--blue-500);
    transition: 0.3s ease-out;
    font-weight: 600;
}
   
aside {
    background-color: #fefefe;
    -webkit-box-shadow: 4px 0px 8px 0px rgba(38,38,38,0.1); 
    box-shadow: 4px 0px 8px 0px rgba(38,38,38,0.1);
    display: flex;
    align-content: center;
    padding: 15px 10px 10px 10px;
    flex-direction: column;
    overflow-y: scroll;
}

.search {
    width: 100%;
    background-color: var(--grey-page-bg);
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
}
   
.body {
    display: grid;
    grid-template-columns: 200px 3fr;
    overflow: hidden;

}
   
.content {
    overflow-y: scroll;
    padding: 20px;
    position: relative;
}

.main-content{
    max-width: 80%;
    margin: 0 auto;
}


.table-content-item{
    margin: 10px 10px 0px 0px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 5px;
    transition: 0.2s ease-out;
}

.table-content-item:hover{
    -webkit-box-shadow: 0px 4px 8px 0px rgba(38,38,38,0.1); 
    box-shadow: 0px 4px 8px 0px rgba(38,38,38,0.1);
    cursor: pointer;
}

.table-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.table-content-item:first-child{
    margin-left: 0px;
}

.nav-item{
    background-color: var(--white);
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: var(--hover);
}

.nav-item-link{
    color: var(--dark-text);
    text-decoration: none;
}

.content-item-img{
    width: 140px;
    height: auto;
}

.content-item-link{
    margin-top: 8px;
}

.section-header{
    width: 100%;
}

.section-desc{
    margin-top: 10px;
}

.section-content{
    margin-top: 32px;
}

/***COLORS PAGE***/

.flex-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.color-container{
    display: flex;
    justify-content: flex-start;
    margin: 0 8px 16px 8px;
}

.color-view{
    width: 50px;
    height: 50px;
    border-radius: 200px;
    cursor: pointer;
}

.color-information{
    margin-left: 8px;
    font-size: 14px;
}

.tooltip{
    position: absolute;
    left: 50%;
    bottom: -40%;
    display: none;
    padding: 8px 16px;
    transform: translateX(-50%);
    background-color: var(--green-100-success);
    border: 1px solid var(--green-600-success);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

/**
.activetooltip{
    animation: tooltipAnimation 6s;
}

@keyframes tooltipAnimation{
    0%{
        bottom: -40%;
        display: none;
    }
    5%{
        display: block;
    }
    10%{
        bottom: 5%;
    }
    90%{
        bottom: 5%;
    }
    100%{
        bottom: -40%;
        display: none;
    }
}**/

/***TYPOGRAPHY PAGE***/
.typography-information{
    margin-top: 16px;
}

.typography-explanation{
    color: #8197B0;
    font-size: 14px;
}

/***COMPONENTS***/
.component-container{
    width: 100%;
    margin-bottom: 16px;
}

.component-information{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.component-name{
    font-size: 16px;
    font-weight: 600;
}

.icons{
    display: flex;
}

.icons-item{
    margin-left: 8px;
}

.component-container > .component-example{
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 16px 32px;
    border-radius: 5px;
    border: 2px solid var(--grey-details);
    display: flex;
    justify-content: center;
    align-items: center;
}

.code{
    position: absolute;
    height: 40vh;
    width: 100%;
    bottom: -1000px;
    display: none;
    left: 0px;
    background-color: #242E48;
}

.code-header{
    background-color: var(--grey-page-bg);
    padding: 8px 32px;
    box-sizing: border-box;
}

.code-overview{
    color: var(--white);
}
/*Buttons*/
.btn{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 300px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.primary{
    background: var(--green-600-success);
    background: linear-gradient(0deg, #35B07D 0%, #3CD495 100%);
}

.hover{
    background: #9FE5C8;
    background: linear-gradient(0deg, #75CFAA 0%, #9FE5C8 100%);
}

.disabled{
    background: #FD3B79;
    background: linear-gradient(0deg, #CA2559 0%, #FD3B79 100%);
}

.delete{
    background: #C1C1C1;
    background: linear-gradient(0deg, #9A9898 0%, #C1C1C1 100%);
}

/*Alerts*/
.alert{
    font-size: 14px;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 75%;
    border-radius: 10px;
}

.alert-success{
    background-color: var(--green-100-success);
    border: 1px solid var(--green-600-success);
}

.alert-warning{
    background-color: var(--yellow-100);
    border: 1px solid var(--yello-600);
}

.alert-error{
    background-color: var(--red-100);
    border: 1px solid var(--red-600);
}